{% extends 'base.html' %}

{% block content%}

    <!-- Area de contacto -->
    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Contactate con nosotros</h2>
                            <p>Para que podamos ayudarte mejor, por favor completá el formulario y nos comunicaremos muy pronto. ¡Gracias!.</p>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="single-info-head">
                                <!-- Bloque Dirección -->
                                <div class="single-info">
                                    <i class="lni lni-map"></i>
                                    <h3>Dirección</h3>
                                    <ul>
                                        <li>Chile 460,<br> Ciudad Autónoma de Buenos Aires, Argentina.</li>
                                    </ul>
                                </div>
                                <!-- Fin Bloque Dirección -->
                                <!-- Bloque Telefono -->
                                <div class="single-info">
                                    <i class="lni lni-phone"></i>
                                    <h3>Llamanos</h3>
                                    <ul>
                                        <li><a href="tel:+54108002224682">+54 1 0800 222 INTA (4682) (Gratis)</a></li>
                                        <li><a href="tel:+54143390600">+54 1 4339 0600</a></li>
                                    </ul>
                                </div>
                                <!-- Fin Bloque Telefono -->
                                <!-- Bloque Email -->
                                <div class="single-info">
                                    <i class="lni lni-envelope"></i>
                                    <h3>Escribinos</h3>
                                    <ul>
                                        <li><a href="mailto:libreria@inta.gob.ar">libreria@inta.gob.ar</a>
                                        </li>
                                        <li><a href="mailto:0800@inta.gob.ar">0800@inta.gob.ar</a></li>
                                    </ul>
                                </div>
                                <!-- Fin bloque Email -->
                            </div>
                        </div>
                        <!-- Formulario de contacto -->
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="contact-form-head">
                                <div class="form-main">
                                    
                                    <form class="form" method="POST" action="">
                                        {% csrf_token %}
                                        
                                        <div class="row">
                                        
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    {{ form.nombre }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    {{ form.asunto }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    {{ form.mail }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    {{ form.telefono }}
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group message">
                                                    {{ form.mensaje }}
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group message">
                                                    {{ form.captcha }}
                                                </div>
                                            </div>
                                            
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn ">Enviar Mensaje</button>
                                                    <span class="outer-link">{{ form.email.errors }}</span>
                                                    <span class="outer-link">{{ form.non_field_errors }}</span>                        
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Formulario de contacto -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Fin Area de contacto -->

{% endblock %}