{% extends 'base.html' %}

{% block content %}

<!-- Area de Login -->
<div class="account-login section">
   
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                
                <form action="{% url 'olvidopassword' %} "class="card login-form" method="POST">
                    {% csrf_token %}

                    <div class="card-body">
                        {% include 'includes/alerts.html' %}
                        <div class="title">
                            <h3>Recuperar Contraseña</h3>
                            <p>Ingresa la dirección de correo con la que te registraste para recuperarla.</p>
                        </div>

                        <div class="form-group input-group">
                            <label for="reg-fn">Email</label>
                            <input class="form-control" type="email" id="reg-email" name="email" required>
                        </div>
                        
                        <div class="d-flex flex-wrap justify-content-between bottom-content">
                            <a class="lost-pass" href="{% url 'login' %}">¿Ya tenes tu contraseña? Incia sesión</a>
                        </div>
                        
                        <div class="button">
                            <button class="btn" type="submit">Enviar</button>
                        </div>
                        <p class="outer-link">¿No tenes una cuenta? <a href="{% url 'registro' %}">Registrate ahora</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
<!-- Fin Login Area -->

{% endblock %}