{% extends 'base.html' %}

{% block content %}
<section class="profile-dashboard">
    <div class="container rounded bg-white mt-5 mb-5">
    {% include 'includes/alerts.html' %}
        <div class="row">
        {% include 'cuentas/perfil_barralateral.html' %}
            <div class="four col-md-3">
                <div class="counter-box colored">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="counter">212</span>
                    <p>Compras realizadas</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box colored2">
                    <i class="fa fa-comment"></i>
                    <span class="counter">325</span>
                    <p>Comentarios realizados</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box">
                    <img src="{{userprofile.profile_picture.url }}" alt="Imagen de Perfil" width="75" height="75" style="border-radius: 50%;">
                    <p><span class="mb-0">{{user.email}}</span></p>
                    <p>{{user.phone_number}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}