{% extends 'base.html' %}

{% block content %}

<!-- Area de Login -->
<div class="account-login section">
   
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                
                <form action="{% url 'resetearPassword' %} "class="card login-form" method="POST">
                    {% csrf_token %}

                    <div class="card-body">
                        {% include 'includes/alerts.html' %}
                        <div class="title">
                            <h3>Recuperar Contraseña</h3>
                            <p>Establece tu nueva contraseña para ingresar a la Libreria Virtual del INTA.</p>
                        </div>

                        <div class="form-group input-group">
                            <label for="reg-fn">Contraseña</label>
                            <input class="form-control" type="password" id="reg-password" name="password" placeholder="Ingrese su nueva contraseña" required>
                        </div>

                        <div class="form-group input-group">
                            <label for="reg-fn">Confirmar Contraseña</label>
                            <input class="form-control" type="password" id="reg-confirm_password" name="confirm_password" placeholder="Ingrese nuevamente su nueva contraseña" required>
                        </div>
                                               
                        <div class="button">
                            <button class="btn" type="submit">Recuperar</button>
                        </div>
                        <p class="outer-link">¿No tenes una cuenta? <a href="{% url 'registro' %}">Registrate ahora</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>
<!-- Fin Login Area -->

{% endblock %}