{% extends 'base.html' %}

{% block content %}

<!-- Start Product Grids -->
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                        <h3>Buscar producto</h3>
                        <form action="#">
                            <input type="text" placeholder="Buscar aquí...">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h3>Colecciones</h3>
                        <ul class="list">
                            <li><a href="{% url 'tienda' %}">Todas</a></li>
                            {% for coleccion in links %}
                            <li>
                                <a href="{{coleccion.get_url}}">{{coleccion.coleccion_nombre}}</a><span></span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget range">
                        <h3>Rango de Precio</h3>
                        <input type="range" class="form-range" name="range" step="1" min="100" max="10000"
                            value="10" onchange="rangePrimary.value=value">
                        <div class="range-inner">
                            <label>$</label>
                            <input type="text" id="rangePrimary" placeholder="100" />
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget condition">
                        <h3>Filtrar por Precio</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                            <label class="form-check-label" for="flexCheckDefault1">
                                $0 - $500 (208)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                                $501 - $999 (311)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                            <label class="form-check-label" for="flexCheckDefault3">
                                $1000 - $4,999 (485)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                            <label class="form-check-label" for="flexCheckDefault4">
                                $5,000 - $10,000 (213)
                            </label>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <!-- End Product Sidebar -->
            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting">
                                    <label for="sorting">Ordenar por:</label>
                                    <select class="form-control" id="sorting">
                                        <option>Menor precio</option>
                                        <option>Mayor precio</option>
                                        <option>A - Z Orden</option>
                                        <option>Z - A Orden</option>
                                    </select>
                                    <h3 class="total-show-product">Mostrando: <span>{{productos_cuenta}} productos</span></h3>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                            aria-labelledby="nav-grid-tab">
                            <div class="row">

                                {% for producto in productos %}
                                <!-- Ficha de producto -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <!-- detalle de producto -->
                                    <div class="single-product">
                                        <div class="product-image">
                                            <img src="{{producto.imagenes.url}}" alt="#">
                                            <div class="button">
                                                <a href="{{producto.get_url}}" class="btn"><i
                                                        class="lni lni-cart"></i> Agregar al carrito</a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <span class="category">{{producto.coleccion}}</span>
                                            <h4 class="title">
                                                <a href="{{producto.get_url}}">{{producto.producto_nombre}}</a>
                                            </h4>
                                            <div class="price">
                                                <span>$ {{producto.precio}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin detalle de producto -->
                                </div>
                                <!-- Fin Ficha de producto -->
                                {% endfor %}
                                
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Pagination -->
                                    <div class="pagination left">
                                        <ul class="pagination-list">
                                            <li><a href="javascript:void(0)">1</a></li>
                                            <li class="active"><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">4</a></li>
                                            <li><a href="javascript:void(0)"><i
                                                        class="lni lni-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                    <!--/ End Pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Product Grids -->
 
{% endblock %}